/* 
Don't want to use sass and simply modify the stylesheet in the old css fashion? 
Just customize your theme here.
================================================== */

body {}

/*set the image width*/

.side-trending-list .side-featured-image {
	width: 100px;
	float: left;
	margin-bottom: 0!important;
}


/*set the text width*/

.side-trending-list .card-title,
.side-trending-list .metafooter {
	width: calc(100% - 100px);
	float: left;
	padding-left: 20px;
}


/*make the image square*/

.side-trending-list .side-featured-image {
	padding-top: 100px;
	display: block;
}

.side-trending-list .side-featured-image img {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	object-fit: cover;
}


/*adjust the spacing and add a border between the posts*/

.side-trending-list .card-block:not(:last-child) {
	border-bottom: 1px solid #dddddd!important;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
